doctype html
html
  head
    title Jurismatic forms
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/jquery.min.js')
    script(src='/underscore-min.js')
    script(src='/backbone-min.js')
    script(src='/handlebars.min.js')
    block js
